.hero
    position: relative
    height: 100vh
    min-height: 600px
    display: flex
    align-items: center
    padding-top: 80px
    overflow-x: hidden
    @media screen and ( min-width: 1000px )
        overflow: hidden
    @media screen and ( max-width: 1150px )
        padding-top: 40px
    @media screen and ( max-width: 690px )
        padding-top: 360px
    @media screen and ( max-width: 440px )
        padding-top: 450px
    @media screen and ( max-width: 352px )
        padding-top: 500px
    &__content
        display: grid
        grid-template-columns: 5fr 7fr
        align-items: center
        height: 100%
        @media screen and ( max-width: 1150px )
            grid-template-columns: 1fr 1fr
        @media screen and ( max-width: 995px )
            grid-template-columns: 3fr 2fr
        @media screen and ( max-width: 875px )
            grid-template-columns: 1fr
    &__title
        max-width: 460px
        font-weight: 700
        +font(50, 28)
        margin-bottom: 20px
        @media screen and ( max-width: 995px )
            max-width: 400px
        @media screen and ( max-width: 500px )
            max-width: 350px
    &__desc
        max-width: 520px
        font-weight: 300
        margin-bottom: 120px
        @media screen and ( max-width: 1500px )
            margin-bottom: 80px
        @media screen and ( max-width: 995px )
            max-width: 360px
        > p + p
            margin-top: 20px
    &__btns
        max-width: 450px
        display: grid
        grid-template-columns: 1fr 1fr
        grid-column-gap: 15px
        margin-bottom: 30px
                        
.main
    &__header
        margin-bottom: 56px
        @media screen and ( max-width: 500px )
            margin-bottom: 56px

.hero-img
    padding-top: 200px
    padding-left: 200px
    position: absolute
    right: 0
    @media screen and ( max-width: 1920px )
        top: 0
        height: 100%
    &__image
        min-width: 714px
        min-height: 611px
        z-index: 1
    @media screen and ( max-width: 1150px )
        transform: scale(0.7)
        right: -140px
    @media screen and ( max-width: 875px )
        transform: scale(0.5)
        right: -230px
    @media screen and ( max-width: 875px )
        top: -210px
    @media screen and ( max-width: 690px )
        transform: scale(0.6)
        right: -190px
    @media screen and ( max-width: 560px )
        transform: scale(0.5)
        right: -230px
    @media screen and ( max-width: 360px )
        transform: scale(0.4)
        top: -210px
        right: -275px
   
    
    
.lines
    position: absolute
    top: -70px
    z-index: -1
    right: -120px
    width: 730px
    height: 700px
    display: flex
    flex-direction: column
    justify-content: space-between
    transform: rotate(45deg)
    overflow: hidden        
    .line
        position: relative
        height: 60px
        background-color: var(--color-black)
        width: 100%
        animation: 3s linear .3s infinite move
        &::after
            content: ''
            position: absolute
            bottom: -40px
            right: -20px
            height: 100px
            width: 160px
            background-color: var(--color-white)
            transform: rotate(-45deg)
        &-5
            width: 60%

@keyframes move
    0%
        transform: translateY(0)
    100%
        transform: translateY(-160px)

        
            

        