.main-btn
    display: inline-block
    position: relative
    padding: 20px 0
    border-radius: 12px
    transition: background-color .3s
    text-align: center
    +font(18, 15)
    &__icon
        position: absolute
        z-index: 1
        bottom: calc(100% - 3px)
        left: 50%
        transform: translateX(-50%)
.btn_bright
    background-color: #FBCB03
    &:hover
        background-color: #E6B901
.btn_dark
    color: var(--color-white)
    background-color: var(--color-black)
    &:hover
        background-color: rgba(0, 0, 0, 0.8)
.btn_question
    width: 100%
    border: 1px solid var(--color-white)
    border-radius: 45px
    padding: 16px 30px
    background-color: transparent
    transition: background-color .3s, color .3s
    &:hover
        background-color: var(--color-white)
        color: var(--color-black)


